/* -----------hedar custom css--------- */
header{
    background-color:#264653 ;
}
/* --------------featured bikes------------- */
img.gray-scale{
    filter: grayscale(100%);
}
/* --------------clients reviews-------------- */
.review-fixed-width{
    max-width: 323px;
    max-height: 550.01px;
}
